.header{
  font-size: 20px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  font-family: var(--font-Montserrat-ExtraLight);
  color: #6B7280;
}

.h1{
  /* font-size: 20px; */
  font-weight: lighter;
  display: inline;
  text-align: center;
}
.h1 span{
  /* font-weight: bold; */
  font-family: var(--font-Montserrat-Bold);
  color: #D1D5DB;
}
.emoji {
  display: inline;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}